<h1>Welcome to Admin</h1>
<div class="Admin-layout">
    <ul class="Admin-grow-1">
        <li class="Admin-home">
            <a class="Admin text-dark" asp-area="Admin" asp-controller="Ad" asp-action="Index">Home</a>
        </li>
        <li class="Admin">
            <div class="Admin text-dark" asp-area="" asp-controller="" asp-action="">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </li> 
            <li class="Admin-Product">
            <a class="Admin text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Index Product</a>
            </li>
            <li class="Admin">

            </li>
            <li class="Admin-Category">
            <a class="Admin text-dark" asp-area="Admin" asp-controller="Categories" asp-action="Index">Index Category</a>
            </li>
            <li class="Admin-Menu">
                <a class="Admin text-dark" asp-area="Admin" asp-controller="Menu" asp-action="Index">Index menu</a>
            </li>
        

    </ul>
    
</div>