@model WebBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Product";
}
<h2>Add Product</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="author"></label>
        <input asp-for="author" class="form-control" />
        <span asp-validation-for="author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Catagorytong">Category tong</label>
        <select asp-for="Catagorytong" asp-items="ViewBag.Categories"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" onchange="previewImage()" />
    </div>
    <div class="form-group">
        <label asp-for="nhasanxuat"></label>
        <textarea asp-for="nhasanxuat" class="form-control"></textarea>
        <span asp-validation-for="nhasanxuat" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="sotrang"></label>
        <textarea asp-for="sotrang" class="form-control"></textarea>
        <span asp-validation-for="sotrang" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="congtyphathanh"></label>
        <textarea asp-for="congtyphathanh" class="form-control"></textarea>
        <span asp-validation-for="congtyphathanh" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="loaibia"></label>
        <textarea asp-for="loaibia" class="form-control"></textarea>
        <span asp-validation-for="loaibia" class="text-danger"></span>

    </div>

    <div id="imagePreview" style="max-width:200px;"></div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<script>
    function previewImage() {
        var preview = document.getElementById("imagePreview");
        var file = document.getElementById("imageInput").files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            var img = new Image();
            img.src = reader.result;
            img.style.maxWidth = "200px";
            preview.innerHTML = "";
            preview.appendChild(img);
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = "";
        }
    }
</script>