@model IEnumerable<WebBanHang.Models.Menu>

@{
    ViewData["Title"] = "Menus";
}

<h2>Categories</h2>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Add">Add menu</a>
    <a asp-action="Add"></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
