<ul id="menu">
    <li><a href="#">Trang chủ</a></li>
    <li>
        <a href="#">Danh mục 1</a>
        <ul id="submenu">
            <li>
               
                <ul id="sub-submenu">
                    <li>
                        <a href="#">Mục con 1.1.1</a>
                        <ul id="sub-sub-submenu">
                            <li><a href="#">Mục con 1.1.1.1</a></li>
                            <li><a href="#">Mục con 1.1.1.2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Mục con 1.1.2</a></li>
                </ul>
            </li>
            <li><a href="#">Danh mục con 1.2</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Danh mục 2</a>
        <ul id="submenu">
            <li><a href="#">Danh mục con 2.1</a></li>
            <li><a href="#">Danh mục con 2.2</a></li>
        </ul>
    </li>
    <li><a href="#">Liên hệ</a></li>
</ul>
