@model WebBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalLikes" class="control-label"></label>
                <input asp-for="TotalLikes" class="form-control" />
                <span asp-validation-for="TotalLikes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nhasanxuat" class="control-label"></label>
                <input asp-for="nhasanxuat" class="form-control" />
                <span asp-validation-for="nhasanxuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="congtyphathanh" class="control-label"></label>
                <input asp-for="congtyphathanh" class="form-control" />
                <span asp-validation-for="congtyphathanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loaibia" class="control-label"></label>
                <input asp-for="loaibia" class="form-control" />
                <span asp-validation-for="loaibia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sotrang" class="control-label"></label>
                <input asp-for="sotrang" class="form-control" />
                <span asp-validation-for="sotrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories"
                        class="form-control"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsLiked" /> @Html.DisplayNameFor(model => model.IsLiked)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongBanRa" class="control-label"></label>
                <input asp-for="SoLuongBanRa" class="form-control" />
                <span asp-validation-for="SoLuongBanRa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuongTonKho" class="control-label"></label>
                <input asp-for="LuongTonKho" class="form-control" />
                <span asp-validation-for="LuongTonKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="col-8">
                <img src="@Model.ImageUrl" alt="Product Image" style="max-width:200px;"
                     id="previewImage" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    document.querySelectorAll('input[type="file"]').forEach(input => {
        input.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById("previewImage")
                    img.src = e.target.result
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>