@model IEnumerable<WebBanHang.Models.Product>
@{
    ViewData["Title"] = "menu";
    var uniqueCategories = new HashSet<string>();
}
<div class="menu">
    <ul id="menu" >
        <li><a href="#" class="nav-link text-dark">Trang chủ</a></li>
        <li>
            <a href="#" class="nav-link text-dark">Thể Loại</a>
            <ul id="submenu">
             
                    @foreach (var item in Model.Where(p => p.Category != null && p.Category.menu != null && p.Category.menu.Name != null)) 
                    {

                        var categoryName = item.Category.menu.Name;
                        if (!uniqueCategories.Contains(categoryName))
                        {
                        uniqueCategories.Add(categoryName);
                        <li>
                            <a asp-controller="Home" asp-action="ProductcategoryByMenu" class="btn btn-light font-control" asp-route-menuId="@item.Category.menu.Id">
                                @categoryName
                            </a>
                  
                        <ul id="sub-submenu">
                            
                            @foreach (var subItem in item.Category.menu.Categorys)
                            {
                                    <li>

                                        <a asp-controller="Home" asp-action="Productcategory" class="btn btn-light font-control" asp-route-categoryId="@subItem.Id">@subItem.Name</a>
                                    </li>
                            }
                       
                        </ul>
                         </li>
                        }
                        }
               
            </ul>
        </li>
        <li><a href="#" class="nav-link text-dark ">Giới thiệu</a></li>
        <li><a href="#" class="nav-link text-dark ">Góp ý</a></li>
        <li><a href="#" class="nav-link text-dark ">Liên hệ với chúng tôi</a></li>
        <li><a href="#" class="nav-link text-dark ">Những câu hỏi thường gặp ?</a></li>
        <li><a class="btn btn-outline-danger" asp-area="" asp-controller="Home" asp-action="likeuser"><i class="bi bi-heart-fill"></i>Danh sách sản phẩm bạn đã thích</a></li>
      </ul>

</div>
<style>
    /* Thay đổi màu nền của nút khi di chuột vào */
    .nav-link.text-white:hover {
        background-color: #bf00ff;
    }
</style>
