@model IEnumerable<WebBanHang.Models.Product>
@{
    ViewData["Title"] = "menu";
    var uniqueCategories = new HashSet<string>();
}
<div class="menu">
    <ul id="menu">
        <li><a href="#">Trang chủ</a></li>
        <li>
            <a href="#">Thể Loại</a>
            <ul id="submenu">
             
                    @foreach (var item in Model.Where(p => p.Category != null && p.Category.menu != null && p.Category.menu.Name != null)) 
                    {

                        var categoryName = item.Category.menu.Name;
                        if (!uniqueCategories.Contains(categoryName))
                        {
                        uniqueCategories.Add(categoryName);
                        <li>
                            <a asp-controller="Home" asp-action="Productmenu" class="btn btn-primary font-control" asp-route-menuId="@item.Id">
                                @categoryName
                            </a>
                  
                        <ul id="sub-submenu">
                            
                            @foreach (var subItem in item.Category.menu.Categorys)
                            {
                                    <li>

                                        <a asp-controller="Home" asp-action="Productcategory" class="btn btn-primary font-control" asp-route-categoryId="@subItem.Id">@subItem.Name</a>
                                    </li>
                            }
                       
                        </ul>
                         </li>
                    
                        }
                        }
               
            </ul>
        </li>
      </ul>             


</div>
