@model WebBanHang.Models.Category

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Categories" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="menuid">thể loại lớn</label>
                <select asp-for="menuid" asp-items="ViewBag.Menus" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

