@model Order
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-image: url('https://th.bing.com/th/id/OIP.pC1bRiGhKgB7-wUTkgbULAHaEK?rs=1&pid=ImgDetMain');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.8); /* Độ mờ của nền */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Hiệu ứng bóng đổ */
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <h2 class="mb-4">Checkout</h2>
                <form asp-action="Checkout" method="post">
                    <div class="form-group">
                        <label asp-for="ShippingAddress" class="text-dark">Shipping Address</label>
                        <input asp-for="ShippingAddress" class="form-control" />
                        <span asp-validation-for="ShippingAddress" class="text-danger"></span> <!-- Hiển thị thông báo lỗi -->
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="text-dark">Notes</label>
                        <textarea asp-for="Notes" class="form-control"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span> <!-- Hiển thị thông báo lỗi -->
                    </div>
                    <input type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Đặt hàng (COD)">
                    <input type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Thanh toán VNPay">
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
            <a href="d:\web\webbanhang\webbanhang\views\shoppingcart\index.cshtml">d:\web\webbanhang\webbanhang\views\shoppingcart\index.cshtml</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
